/* AdminDashboard.css */

.admin-container {
  display: flex;
  min-height: 100vh;
}

.admin-content {
  flex: 1;
  padding: 20px;
  background-color: #f8f9fa;
}

.btn-crear-usuario,
.btn-logout {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
}
